<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="btm.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities responsible for gathering payment info -->

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".CardActivity"
            android:label="@string/tarjeta_credito"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/registrese"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Compensacion"
            android:label="@string/compensacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarBanco"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompraToken"
            android:label="@string/token_buy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransferActivity"
            android:label="@string/transferencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassActivity"
            android:label="@string/forgot_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriptionsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuySubscriptionConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BleecardUI.BleecardMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BleecardUI.BleecardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransferCompensationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ChangePassActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>